#respond {
	padding-bottom: 25px;
}
#respond {
	padding: 10px; position: relative;
}
#postcomments {
	padding: 10px; position: relative;
}
.comment {
	margin-bottom: 12px; position: relative;
}
.comment #respond {
	padding: 10px 0px 15px 46px;
}
.comment #commentform {
	margin-bottom: 0px;
}
.commentnew .comt-m {
	margin-bottom: 5px;
}
.commentlist {
	list-style: none; margin: 0px; padding: 0px;
}
.comt-avatar {
	width: 36px; height: 36px; float: left; display: inline; position: relative; background-color: rgb(255, 255, 255);
}
.commentnew .comt-avatar {
	margin-top: 0px;
}
.comt-avatar .avatar {
	border-radius: 50%; width: 36px; height: 36px; display: block;
}
.comt-main {
	padding: 0px 0px 15px; color: rgb(51, 51, 51); line-height: 22px; font-size: 14px; margin-right: 60px; margin-left: 46px; position: relative; -ms-word-wrap: break-word;
}
.comt-main h2 {
	font-size: 16px;
}
.comt-main p {
	margin-top: 4px; margin-bottom: 4px;
}
.comt-main li {
	margin-top: 4px;
}
.comt-author {
	margin-right: 5px;
}
.url {
	color: rgb(96, 196, 253);
}
.url:hover {
	color: rgb(96, 196, 253); text-decoration: underline; opacity: 0.85;
}
.comt-meta {
	color: rgb(187, 187, 187); font-size: 12px;
}
.comt-meta .signin-loader {
	margin-left: 10px;
}
.comment-reply-link {
	color: rgb(187, 187, 187); font-size: 12px; display: none;
}
.comment:hover > .comt-main .comment-reply-link {
	margin-left: 5px; display: inline-block;
}
.comment pre {
	margin: 3px 0px 5px; padding: 7px 10px; border-radius: 1px;
}
.depth-1 {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.comment .children {
	list-style: none; padding: 0px;
}
.comment .children .comment {
	margin: 0px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.commentlist > .comment .children {
	margin-left: 46px;
}
.comt-f {
	top: 15px; right: 0px; color: rgb(204, 204, 204); font-size: 16px; display: none; position: absolute;
}
.comment:hover .comt-f {
	color: rgb(102, 102, 102);
}
.comt-approved {
	padding: 1px 5px 0px; border-radius: 2px; color: rgb(153, 153, 153); line-height: 20px; font-size: 12px; margin-top: 4px; margin-left: 5px; display: inline-block; background-color: rgb(238, 238, 238);
}
.wp-smiley {
	margin-bottom: 2px;
}
.sidebarfix .comt-main {
	padding: 6px 0px 4px; line-height: 20px; font-size: 12px;
}
.sidebarfix .depth-1 {
	border-bottom-color: rgb(238, 238, 238);
}
.sidebarfix .comment .children .comment {
	border-top-color: rgb(238, 238, 238);
}
#comments {
	
}
#comments h2 {
	margin: 0px 0px 10px; padding: 0px; border-radius: 4px 4px 0px 0px; left: 0px; top: 0px; width: 100%; color: rgb(34, 34, 34); line-height: 18px; font-size: 20px; font-weight: bold; z-index: 3; background-color: rgb(246, 245, 244);
}
#comments .altblock {
	background-position: center; margin: 0px 15px 0px 0px; width: 60px; height: 52px; text-align: center; color: rgb(255, 255, 255); line-height: 19px; padding-top: 10px; font-size: 12px; float: left; background-repeat: no-repeat; background-size: 25px auto; background-color: rgb(147, 184, 116);
}
#qa_headline {
	line-height: 62px; margin-left: 0px;
}
#comments .cta-box {
	line-height: 62px; font-size: 28px; margin-right: 20px; float: right; display: inline;
}
#comments b {
	color: rgb(255, 94, 82); font-weight: normal;
}
#comments .pull-right {
	top: 5px; font-size: 12px; position: relative;
}
#commentform {
	margin-bottom: 5px;
}
.comt-count {
	color: rgb(153, 153, 153); margin-bottom: 5px; float: right;
}
.comt {
	padding-left: 46px; position: relative;
}
.comt-title {
	width: 36px; text-align: center; color: rgb(153, 153, 153); font-size: 12px; margin-left: -46px; float: left;
}
.comt-title .avatar {
	border-radius: 50%; width: 36px; height: 36px; margin-bottom: 5px;
}
.comt-title p {
	overflow: hidden; margin-bottom: 0px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.comt-box {
	padding: 0px; border-radius: 2px; border: 2px solid rgb(204, 212, 217); border-image: none; position: relative; background-color: rgb(255, 255, 255);
}
.comt-ctrl {
	height: 34px; background-color: rgb(251, 251, 251);
}
#submit {
	background: rgb(150, 185, 125); border-width: medium 2px 2px medium; border-style: none solid solid none; border-color: currentColor rgb(150, 185, 125) rgb(150, 185, 125) currentColor; padding: 0px; outline: 0px; border-radius: 0px 0px 2px; border-image: none; width: 100px; height: 38px; right: -2px; bottom: -2px; color: rgb(255, 255, 255); font-size: 16px; position: absolute;
}
#comment {
	outline: 0px; border: currentColor; border-image: none; width: 100%; height: 68px; color: rgb(102, 102, 102); line-height: 22px; font-size: 14px; -ms-overflow-x: hidden; -ms-overflow-y: auto; resize: none;
}
.hide {
	display: none;
}
.comt-tips {
	text-align: center; color: rgb(255, 255, 255); line-height: 116px; font-size: 18px; margin-right: 110px;
}
.comt-tip {
	background: rgb(122, 208, 113); border-radius: 2px; left: -2px; top: -2px; right: -2px; bottom: -2px; position: absolute; z-index: 2;
}
.comt-error {
	background: rgb(255, 94, 82);
}
.comt-comterinfo {
	padding: 15px 0px; text-align: center;
}
.comt-comterinfo ul {
	list-style: none; margin: 0px; padding: 0px; text-align: left; display: inline-block;
}
.comt-comterinfo li {
	margin-bottom: 5px;
}
.comt-comterinfo input {
	padding: 3px 5px; border-radius: 2px; border: 2px solid rgb(204, 212, 217); border-image: none; width: 320px; height: 34px; margin-right: 10px; position: relative; box-shadow: none;
}
#cancel-comment-reply-link {
	text-align: center; color: rgb(153, 153, 153); font-size: 12px; margin-top: 7px; display: none;
}
#cancel-comment-reply-link:hover {
	color: rgb(255, 94, 82);
}
.comment #cancel-comment-reply-link {
	display: block;
}
.comment-signarea {
	padding: 30px 20px; border-radius: 7px; text-align: center; margin-bottom: 20px; background-color: rgb(246, 246, 246);
}
.comment-signarea h3 {
	margin: 0px 0px 15px; padding: 0px; font-size: 18px; font-weight: normal;
}
.comment-signarea .auth {
	margin: 0px 5px;
}
#comment-status {
	padding: 15px; border-radius: 4px; border: 1px solid transparent; border-image: none;
}
.ajax-success {
	border-color: rgb(214, 233, 198); padding: 15px; color: rgb(60, 118, 61); background-color: rgb(223, 240, 216);
}
.ajax-error {
	border-color: rgb(235, 204, 209); padding: 15px; color: rgb(169, 68, 66); background-color: rgb(242, 222, 222);
}
