@font-face {
	font-family: iconfont-toolbar;
	src: url(//csdnimg.cn/cdn/content-toolbar/iconfont.eot?t=1509003158575#iefix) format("embedded-opentype"), url(//csdnimg.cn/cdn/content-toolbar/iconfont.ttf?t=1509003158575) format("truetype"), url(//csdnimg.cn/cdn/content-toolbar/iconfont.svg?t=1509003158575#iconfont) format("svg");
}
.csdn-toolbar .clearfix::after {
	clear: both;
}
.csdn-toolbar .form-horizontal .form-group::after {
	clear: both;
}
.csdn-toolbar .clearfix::after {
	display: table; content: " ";
}
.csdn-toolbar .clearfix::before {
	display: table; content: " ";
}
.csdn-toolbar .form-horizontal .form-group::after {
	display: table; content: " ";
}
.csdn-toolbar .form-horizontal .form-group::before {
	display: table; content: " ";
}
.csdn-toolbar .col-sm-1 {
	float: left;
}
.csdn-toolbar .col-sm-10 {
	float: left;
}
.csdn-toolbar .col-sm-11 {
	float: left;
}
.csdn-toolbar .col-sm-2 {
	float: left;
}
.csdn-toolbar .col-sm-3 {
	float: left;
}
.csdn-toolbar .col-sm-4 {
	float: left;
}
.csdn-toolbar .col-sm-5 {
	float: left;
}
.csdn-toolbar .col-sm-6 {
	float: left;
}
.csdn-toolbar .col-sm-7 {
	float: left;
}
.csdn-toolbar .col-sm-8 {
	float: left;
}
.csdn-toolbar .col-sm-9 {
	float: left;
}
.csdn-toolbar .pull-left {
	float: left;
}
.csdn-toolbar .container .left-menu li a .iconfont-toolbar {
	font-family: iconfont-toolbar !important; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.iconfont-toolbar {
	font-family: iconfont-toolbar !important; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.iconfont-toolbar {
	font-size: 16px;
}
.toolbar-xiajiantou::before {
	content: "\e843";
}
.toolbar-shouji::before {
	content: "\e844";
}
.toolbar-tianxie::before {
	content: "\e845";
}
.toolbar-sousuo::before {
	content: "\e846";
}
.toolbar-guanbi::before {
	content: "\e847";
}
.toolbar-caidan::before {
	content: "\e848";
}
.toolbar-yonghudenglu::before {
	content: "\e849";
}
.toolbar-csdnlogo::before {
	content: "\e855";
}
.toolbar-morentouxiang::before {
	content: "\e87e";
}
.toolbar-icon_boke::before {
	content: "\e880";
}
.toolbar-icon_gitchatx::before {
	content: "\e881";
}
.toolbar-guanbi1::before {
	content: "\e882";
}
.csdn-toolbar {
	background: rgb(255, 255, 255); padding: 0px 24px; height: 50px; color: rgb(51, 51, 51); line-height: 1.5em; font-family: "PingFang SC","Microsoft YaHei",SimHei,Arial,SimSun; font-size: 0.75em; min-width: 1010px; box-sizing: border-box; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.csdn-toolbar * {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.csdn-toolbar ::after {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.csdn-toolbar ::before {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.csdn-toolbar blockquote {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar code {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar dd {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar div {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar dl {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar dt {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar fieldset {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar form {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h1 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h2 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h3 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h4 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h5 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h6 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar input {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar legend {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar li {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar p {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar pre {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar td {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar textarea {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar th {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar ul {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar table {
	border-collapse: collapse; table-layout: fixed; border-spacing: 0;
}
.csdn-toolbar fieldset {
	border: 0px currentColor; border-image: none;
}
.csdn-toolbar img {
	border: 0px currentColor; border-image: none;
}
.csdn-toolbar address {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar caption {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar cite {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar code {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar dfn {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar em {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar strong {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar th {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar var {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar ul {
	list-style: none;
}
.csdn-toolbar caption {
	text-align: left;
}
.csdn-toolbar th {
	text-align: left;
}
.csdn-toolbar .clearfix {
	overflow: visible;
}
.csdn-toolbar h1 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-family: Helvetica,"Tahoma, Arial",sans-serif; font-weight: 700;
}
.csdn-toolbar h2 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-family: Helvetica,"Tahoma, Arial",sans-serif; font-weight: 700;
}
.csdn-toolbar h3 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-family: Helvetica,"Tahoma, Arial",sans-serif; font-weight: 700;
}
.csdn-toolbar h4 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-family: Helvetica,"Tahoma, Arial",sans-serif; font-weight: 700;
}
.csdn-toolbar h5 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-family: Helvetica,"Tahoma, Arial",sans-serif; font-weight: 700;
}
.csdn-toolbar h6 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-family: Helvetica,"Tahoma, Arial",sans-serif; font-weight: 700;
}
.csdn-toolbar h1 {
	font-size: 3em;
}
.csdn-toolbar h2 {
	font-size: 2.5em;
}
.csdn-toolbar h3 {
	font-size: 2em;
}
.csdn-toolbar h4 {
	font-size: 1.5em;
}
.csdn-toolbar h5 {
	font-size: 1.16em;
}
.csdn-toolbar h6 {
	font-size: 1em;
}
.csdn-toolbar textarea {
	resize: none;
}
.csdn-toolbar a:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
.csdn-toolbar a:visited {
	color: rgb(51, 51, 51); text-decoration: none;
}
.csdn-toolbar a:hover {
	text-decoration: none;
}
.csdn-toolbar h1 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h1 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h2 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h2 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h3 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h3 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h4 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h4 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h5 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h5 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h6 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h6 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h1 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h2 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h3 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h4 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h5 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h6 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar a:focus {
	outline: 0px;
}
.csdn-toolbar a.f-blue:link {
	color: rgb(41, 129, 169); text-decoration: none;
}
.csdn-toolbar a.f-blue:visited {
	color: rgb(41, 129, 169); text-decoration: none;
}
.csdn-toolbar a.f-blue:visited {
	color: rgb(2, 93, 135); text-decoration: none;
}
.csdn-toolbar a.f-undline:link {
	text-decoration: underline;
}
.csdn-toolbar a.f-undline:visited {
	text-decoration: underline;
}
.csdn-toolbar .col-sm-12 {
	width: 100%;
}
.csdn-toolbar .col-sm-11 {
	width: 91.66%;
}
.csdn-toolbar .col-sm-10 {
	width: 86.33%;
}
.csdn-toolbar .col-sm-9 {
	width: 75%;
}
.csdn-toolbar .col-sm-8 {
	width: 66.66%;
}
.csdn-toolbar .col-sm-7 {
	width: 58.33%;
}
.csdn-toolbar .col-sm-6 {
	width: 50%;
}
.csdn-toolbar .col-sm-5 {
	width: 41.66%;
}
.csdn-toolbar .col-sm-4 {
	width: 33.33%;
}
.csdn-toolbar .col-sm-3 {
	width: 25%;
}
.csdn-toolbar .col-sm-2 {
	width: 16.66%; float: left;
}
.csdn-toolbar .col-sm-1 {
	width: 8.33%;
}
.csdn-toolbar .pull-right {
	margin-right: -8px; float: right;
}
.csdn-toolbar a {
	color: rgb(153, 153, 153); font-size: 12px; font-weight: 400; text-decoration: none;
}
.csdn-toolbar a:hover {
	color: rgb(51, 51, 51);
}
.csdn-toolbar dl {
	margin: 0px; font-size: 12px;
}
.csdn-toolbar li {
	margin: 0px; padding: 0px;
}
.csdn-toolbar ul {
	margin: 0px; padding: 0px;
}
.csdn-toolbar li {
	background: 0px 0px; border-width: 0px 1px; border-style: solid; border-color: rgb(238, 238, 238) rgb(255, 255, 255) rgb(238, 238, 238) rgb(238, 238, 238); list-style: none; border-image: none; width: 40px; height: 34px; float: left; position: relative;
}
.csdn-toolbar .hide {
	display: none;
}
.csdn-toolbar .open .dropdown-menu {
	border-radius: 0px; top: 23px; display: block; min-width: 70px;
}
.csdn-toolbar .open .dropdown-menu li {
	border: 0px currentColor; border-image: none; width: 100%; height: auto; text-align: center; color: rgb(51, 51, 51); padding-right: 10px; float: left;
}
.csdn-toolbar input:focus {
	border-color: rgb(153, 204, 255); outline: 0px; box-shadow: none;
}
.csdn-toolbar textarea:focus {
	border-color: rgb(153, 204, 255); outline: 0px; box-shadow: none;
}
.csdn-toolbar .form-horizontal .form-group {
	margin: 0px 0px 10px;
}
.csdn-toolbar .form-horizontal .form-group .ft {
	width: 362px; padding-left: 12px; margin-left: 25px;
}
.csdn-toolbar .form-horizontal .control-label {
	padding: 7px 10px 0px 0px; width: 48px; text-align: right; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.csdn-toolbar .form-horizontal .control-label .red_txt {
	color: red; padding-right: 3px;
}
.csdn-toolbar .form-control {
	padding: 0px 7px; border-radius: 0px; border: 1px solid rgb(204, 204, 204); transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; border-image: none; width: 336px; height: 28px; color: rgb(85, 85, 85); line-height: 1.4285; font-size: 14px; vertical-align: middle; display: block; box-shadow: none; background-image: none; background-color: rgb(255, 255, 255); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.csdn-toolbar textarea.form-control {
	height: 70px; padding-top: 5px;
}
.csdn-toolbar .nobg {
	background: 0px 0px !important;
}
.csdn-toolbar .icon-enter-sm {
	background-image: url("http://c.csdnimg.cn/public/common/toolbar/images/f_icon.png");
}
.csdn-toolbar .icon-hasnotes-sm {
	background-image: url("http://c.csdnimg.cn/public/common/toolbar/images/f_icon.png");
}
.csdn-toolbar .write-icon {
	background-image: url("http://c.csdnimg.cn/public/common/toolbar/images/f_icon.png");
}
.csdn-toolbar .icon-enter-sm {
	background-position: 0px -192px;
}
.csdn-toolbar .icon .wrap {
	background: rgb(255, 255, 255); padding: 7px; border: 1px solid rgb(204, 204, 204); border-image: none; top: 30px; font-size: 12px; display: none; position: absolute; box-shadow: 0px 3px 2px rgba(0,0,0,0.15);
}
.csdn-toolbar .icon .curr-icon-wrap {
	top: -4px; width: 41px; height: 3px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
body .csdn-toolbar .container {
	width: 100%;
}
body .csdn-toolbar .container .left-menu {
	width: 721px; margin-left: -12px;
}
.csdn-toolbar .container::after {
	display: table; content: " ";
}
.csdn-toolbar .container::before {
	display: table; content: " ";
}
.csdn-toolbar .container li {
	transition:background-color 1s; width: auto; border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium; border-right-style: none; border-left-style: none; -webkit-transition: background-color 1s;
}
.csdn-toolbar .container .left-menu li a {
	height: 50px; text-align: center; color: rgb(63, 63, 63); line-height: 50px; padding-right: 12px; padding-left: 12px; font-size: 14px; display: block;
}
.csdn-toolbar .container .pull-right li a {
	height: 50px; text-align: center; color: rgb(63, 63, 63); line-height: 50px; padding-right: 12px; padding-left: 12px; font-size: 14px; display: block;
}
.csdn-toolbar .container .left-menu li a {
	line-height: 50px;
}
body .csdn-toolbar .container .left-menu li:first-child a svg {
	width: 84px; height: 84px; margin-top: -20px;
}
.csdn-toolbar .container .pull-right {
	padding-top: 8px;
}
.csdn-toolbar .container .pull-right li a {
	height: 30px; line-height: 32px;
}
.csdn-toolbar .container .left-menu .show-more {
	width: 70px;
}
.csdn-toolbar .container .left-menu .show-more .more div a {
	height: 32px; line-height: 32px; padding-right: 10px; padding-left: 10px;
}
.csdn-toolbar .container .left-menu .show-more .more div:last-child a {
	padding-bottom: 4px;
}
.csdn-toolbar .container .left-menu li a .iconfont-toolbar {
	margin: 0px 3px; transform-origin: 50% 48%; transition:transform 0.5s, transform 0.5s; color: rgb(120, 128, 135); font-size: 16px; vertical-align: middle; display: inline-block; -webkit-transition: -webkit-transform .5s, transform .5s; -webkit-transform-origin: 50% 48%; -moz-transform-origin: 50% 48%; -o-transform-origin: 50% 48%;
}
.csdn-toolbar .container .left-menu .show-more .more {
	border-radius: 0px 0px 4px 4px; left: -24px; top: 7px; width: 128px; padding-top: 8px; padding-bottom: 12px; float: inherit; display: none; position: relative; z-index: 99999; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.csdn-toolbar .container .left-menu li a:hover {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .left-menu li a:hover i {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .left-menu .show-more:hover a i {
	transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -o-transform: rotate(-180deg);
}
.csdn-toolbar .container .show-more a .icon-xiajiantou {
	top: -1px; position: relative;
}
.csdn-toolbar .container .left-menu .more div:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.csdn-toolbar .container .pull-right .userControl div:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.csdn-toolbar .container .pull-right .userinfo {
	display: none;
}
.csdn-toolbar .container .pull-right .userinfo a {
	color: rgb(153, 153, 153); padding-right: 8px; padding-left: 8px; font-size: 14px; display: inline-block;
}
.csdn-toolbar .container .pull-right .userinfo a:hover {
	color: rgb(79, 79, 79);
}
.csdn-toolbar .container .pull-right .userinfo span {
	color: rgb(136, 136, 136);
}
.csdn-toolbar .container .pull-right .userLogin {
	margin-left: 12px; display: block; position: relative;
}
.csdn-toolbar .container .pull-right .userLogin .login_img {
	border-radius: 50%; width: 24px; height: 24px; color: rgb(212, 212, 212); vertical-align: top; display: inline-block; background-color: rgb(238, 238, 238);
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter {
	padding: 4px 12px; width: 25px; height: 24px; line-height: 27px; position: relative;
}
.csdn-toolbar .container .pull-right .userLogin .userControl:hover + .loginCenter {
	background: rgb(244, 245, 246); border-radius: 3px;
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter .userName {
	display: inline-block; white-space: nowrap; -ms-overflow-x: hidden; -ms-text-overflow: ellipsis; max-width: 106px;
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter a {
	width: 25px; height: 24px; padding-right: 0px; padding-left: 0px; display: inline-block;
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter a:hover {
	color: rgb(201, 32, 39);
}
body .csdn-toolbar .container .pull-right .userLogin .loginCenter a:hover i {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter span {
	padding-right: 2px; padding-left: 8px;
}
.csdn-toolbar .container .pull-right .userControl {
	border-radius: 0px 0px 4px 4px; top: 40px; width: 130px; right: -14px; padding-top: 9px; padding-bottom: 12px; display: none; position: absolute; z-index: 99999; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.csdn-toolbar .container .pull-right .userControl div a {
	height: 32px; text-align: left; color: rgb(79, 79, 79); line-height: 2; padding-right: 32px; padding-left: 32px; font-size: 16px;
}
.csdn-toolbar .container .pull-right .userControl div a .toolbar-newsL {
	color: rgb(201, 32, 39); display: none;
}
.csdn-toolbar .container .pull-right .userControl div a:hover {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .pull-right .userControl div:last-child a {
	padding-bottom: 4px;
}
.csdn-toolbar .container .pull-right .btns .userLogin .loginCenter a i {
	transform-origin: 50% 48%; transition:transform 0.3s, transform 0.3s; color: rgb(120, 128, 135); vertical-align: top; display: inline-block; -webkit-transform-origin: 50% 48%; -moz-transform-origin: 50% 48%; -o-transform-origin: 50% 48%;
}
.csdn-toolbar .container .pull-right .btns .userLogin:hover .loginCenter a i {
	transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -o-transform: rotate(-180deg);
}
.csdn-toolbar .container .pull-right li a .icon-shouji {
	left: 2px; top: -2px; width: 19px; color: rgb(212, 212, 212); margin-right: 3px; vertical-align: middle; display: inline-block; position: relative;
}
.csdn-toolbar .container .pull-right li a .icon-tianxie {
	left: 2px; top: -2px; width: 19px; color: rgb(212, 212, 212); margin-right: 6px; vertical-align: middle; position: relative;
}
.loginCenter .icon-xiajiantou {
	vertical-align: top;
}
.csdn-toolbar .container .pull-right .write-bolg-btn {
	padding-left: 20px;
}
.csdn-toolbar .container .pull-right .gitChat a {
	border-radius: 50%; width: 74px; height: 24px; color: rgb(255, 255, 255); line-height: 24px; padding-top: 4px; padding-right: 0px; padding-left: 0px; margin-left: 24px;
}
.csdn-toolbar .container .pull-right .gitChat a:hover span {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .pull-right .gitChat a i {
	color: rgb(245, 151, 1); font-size: 24px; margin-right: 4px;
}
.csdn-toolbar .container .pull-right .gitChat a span {
	color: rgb(153, 153, 153); font-size: 14px; vertical-align: 4px;
}
.csdn-toolbar .container .pull-right .write-bolg-btn a span {
	color: rgb(153, 153, 153); font-size: 14px; vertical-align: 4px;
}
.csdn-toolbar .container .pull-right .write-bolg-btn a {
	border-radius: 50%; width: 72px; height: 24px; color: rgb(255, 255, 255); line-height: 24px; padding-top: 4px; padding-right: 0px; padding-left: 0px;
}
.csdn-toolbar .container .pull-right .write-bolg-btn a:hover span {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .pull-right .write-bolg-btn a i {
	color: rgb(231, 64, 64); font-size: 24px; margin-right: 4px;
}
.csdn-toolbar .container .unlogin .userinfo {
	margin-left: 20px; display: block;
}
.csdn-toolbar .container .unlogin .btns .userLogin {
	display: none;
}
.csdn-toolbar .container .search_bar {
	background: rgb(250, 250, 250); border-radius: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 160px; height: 30px; padding-top: 1px; margin-right: 12px; float: right;
}
.csdn-toolbar .container .search_bar .input_search {
	padding: 5px 10px; border-radius: 10px; border: 0px currentColor; border-image: none; width: 110px; height: 18px; color: rgb(119, 128, 135); font-size: 14px; float: left; display: block; background-color: rgb(250, 250, 250);
}
.csdn-toolbar .container .search_bar .btn-search {
	padding: 0px 2px; width: 26px; height: 26px; text-align: center; color: rgb(204, 204, 204); line-height: 26px; font-size: 14px; float: right; display: block; background-color: rgba(0, 0, 0, 0);
}
.csdn-toolbar .container .search_bar .btn_clear {
	padding: 0px 2px; width: 26px; height: 26px; text-align: center; color: rgb(204, 204, 204); line-height: 26px; font-size: 14px; float: right; display: block; background-color: rgba(0, 0, 0, 0);
}
.csdn-toolbar .container .search_bar .btn_clear:hover {
	color: rgb(153, 153, 153);
}
.csdn-toolbar .icon {
	background-image: none;
}
.csdn-toolbar .btn:active {
	outline: 0px; border: 0px currentColor; border-image: none; box-shadow: 0px 0px 0px transparent;
}
.csdn-toolbar .btn:focus {
	outline: 0px; border: 0px currentColor; border-image: none; box-shadow: 0px 0px 0px transparent;
}
.csdn-toolbar .container .show-more .show-more-a {
	margin: 7px 12px 0px; padding: 0px 0px 16px; border-radius: 3px; width: 46px; height: 20px;
}
.csdn-toolbar .container .show-more .show-more-a svg {
	left: 26px; top: 22px; position: absolute;
}
.csdn-toolbar .container .show-more .show-more-a:hover {
	background: rgb(244, 245, 246);
}
.csdn-toolbar .tb_is1090hide {
	display: block;
}
.csdn-toolbar .tb_is1150hide {
	display: block;
}
.csdn-toolbar .tb_is1210hide {
	display: block;
}
.csdn-toolbar .tb_is1270hide {
	display: block;
}
.csdn-toolbar .tb_is1300hide {
	display: block;
}
.csdn-toolbar .tb_is1330hide {
	display: block;
}
.csdn-toolbar .tb_is1400hide {
	display: block;
}
.csdn-toolbar .tb_is1452hide {
	display: block;
}
.csdn-toolbar .tb_is1090show {
	display: none;
}
.csdn-toolbar .tb_is1150show {
	display: none;
}
.csdn-toolbar .tb_is1210show {
	display: none;
}
.csdn-toolbar .tb_is1270show {
	display: none;
}
.csdn-toolbar .tb_is1300show {
	display: none;
}
.csdn-toolbar .tb_is1330show {
	display: none;
}
.csdn-toolbar .tb_is1400show {
	display: none;
}
.csdn-toolbar .tb_is1452show {
	display: none;
}
.csdn-toolbarbbshome .tb_is1090hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1150hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1210hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1270hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1300hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1330hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1400hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1452hide {
	display: none;
}
html body .csdn-toolbarbbshome .container .left-menu {
	width: 626px;
}
.csdn-toolbarbbshome .tb_is1090hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1150hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1210show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1270show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1300show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1330show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1400show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1452show {
	display: block;
}
.csdn-bbs .csdn-toolbar {
	padding: 0px 24px;
}
@media all and (min-width:1282px)
{
.csdn-toolbar .show-more {
	display: none;
}
.csdn-toolbarbbshome .show-more {
	display: block;
}
}
@media all and (max-width:1434px)
{
html body .csdn-toolbarbbshome .container .left-menu {
	width: 722px;
}
.csdn-toolbarbbshome .show-more {
	display: none;
}
}
@media all and (min-width:1570px)
{
html body .csdn-toolbarbbshome .container .left-menu {
	width: 758px;
}
.csdn-toolbarbbshome .show-more {
	display: none;
}
.csdn-toolbarbbshome .tb_is1150hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1210hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1270hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1300hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1330hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1400hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1452hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1513hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1150show {
	display: none;
}
.csdn-toolbarbbshome .tb_is1210show {
	display: none;
}
.csdn-toolbarbbshome .tb_is1270show {
	display: none;
}
.csdn-toolbarbbshome .tb_is1300show {
	display: none;
}
.csdn-toolbarbbshome .tb_is1330show {
	display: none;
}
.csdn-toolbarbbshome .tb_is1400show {
	display: none;
}
.csdn-toolbarbbshome .tb_is1452show {
	display: none;
}
.csdn-toolbarbbshome .tb_is1513show {
	display: none;
}
}
@media all and (max-width:1570px)
{
.csdn-toolbarbbshome .tb_is1210hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1270hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1300hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1330hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1400hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1452hide {
	display: none;
}
.csdn-toolbarbbshome .tb_is1513hide {
	display: none;
}
.csdn-toolbarbbshome .show-more {
	display: block;
}
.csdn-toolbarbbshome .tb_is1210show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1270show .csdn-toolbarbbshome .tb_is1300show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1400show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1452show {
	display: block;
}
.csdn-toolbarbbshome .tb_is1513show {
	display: block;
}
html body .csdn-toolbarbbshome .container .left-menu {
	width: 516px;
}
}
@media all and (min-width:1248px)
{
html body .csdn-toolbarbbshome .container .left-menu {
	width: 514px;
}
.csdn-toolbarbbshome .tb_is1150hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1150show {
	display: none;
}
}
@media all and (min-width:1300px)
{
.csdn-toolbarbbshome .tb_is1210hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1210show {
	display: none;
}
html body .csdn-toolbarbbshome .container .left-menu {
	width: 566px;
}
}
@media all and (min-width:1352px)
{
html body .csdn-toolbarbbshome .container .left-menu {
	width: 618px;
}
.csdn-toolbarbbshome .tb_is1270hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1270show {
	display: none;
}
}
@media all and (min-width:1404px)
{
html body .csdn-toolbarbbshome .container .left-menu {
	width: 670px;
}
.csdn-toolbarbbshome .tb_is1330hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1330show {
	display: none;
}
}
@media all and (min-width:1456px)
{
html body .csdn-toolbarbbshome .container .left-menu {
	width: 722px;
}
.csdn-toolbarbbshome .tb_is1400hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1400show {
	display: none;
}
}
@media all and (min-width:1508px)
{
html body .csdn-toolbarbbshome .container .left-menu {
	width: 780px;
}
.csdn-toolbarbbshome .tb_is1452hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1452show {
	display: none;
}
}
@media all and (min-width:1570px)
{
html body .csdn-toolbarbbshome .container .left-menu {
	width: 824px;
}
.csdn-toolbarbbshome .tb_is1513hide {
	display: block;
}
.csdn-toolbarbbshome .tb_is1513show {
	display: none;
}
body .csdn-toolbarbbshome .show-more {
	display: none;
}
}
@media all and (min-width:1339px)
{
body .csdn-toolbar .container .left-menu {
	width: 824px;
}
.csdn-toolbar .show-more {
	display: none;
}
.csdn-toolbarbbshome .show-more {
	display: block;
}
}
@media all and (max-width:1340px)
{
body .csdn-toolbar .container .left-menu {
	width: 780px;
}
.csdn-toolbar .show-more {
	display: block;
}
.csdn-toolbar .tb_is1513show {
	display: block;
}
.csdn-toolbar .tb_is1513hide {
	display: none;
}
}
@media all and (max-width:1296px)
{
body .csdn-toolbar .container .left-menu {
	width: 722px;
}
.csdn-toolbar .show-more {
	display: block;
}
.csdn-toolbar .tb_is1452show {
	display: block;
}
.csdn-toolbar .tb_is1452hide {
	display: none;
}
}
@media all and (max-width:1237px)
{
body .csdn-toolbar .container .left-menu {
	width: 670px;
}
.csdn-toolbar .show-more {
	display: block;
}
.csdn-toolbar .tb_is1400show {
	display: block;
}
.csdn-toolbar .tb_is1400hide {
	display: none;
}
}
@media all and (max-width:1190px)
{
body .csdn-toolbar .container .left-menu {
	width: 620px;
}
.csdn-toolbar .show-more {
	display: block;
}
.csdn-toolbar .tb_is1330show {
	display: block;
}
.csdn-toolbar .tb_is1330hide {
	display: none;
}
}
@media all and (max-width:1140px)
{
body .csdn-toolbar .container .left-menu {
	width: 565px;
}
.csdn-toolbar .tb_is1270hide {
	display: none;
}
.csdn-toolbar .tb_is1270show {
	display: block;
}
}
@media all and (max-width:1090px)
{
body .csdn-toolbar .container .left-menu {
	width: 514px;
}
.csdn-toolbar .tb_is1210hide {
	display: none;
}
.csdn-toolbar .tb_is1210show {
	display: block;
}
}
@media all and (max-width:1060px)
{
body .csdn-toolbar .container .Min-width {
	width: 396px;
}
}
@media all and (max-width:1040px)
{
body .csdn-toolbar .container .left-menu {
	width: 462px;
}
.csdn-toolbar .tb_is1150hide {
	display: none;
}
.csdn-toolbar .tb_is1150show {
	display: block;
}
}
.csdn-toolbar .toolbar-prompt-box {
	background: rgba(51, 51, 51, 0.8); padding: 0px 8px; bottom: -32px; font-size: 14px; display: none; position: absolute; z-index: 1;
}
.toolbar-prompt-box span {
	font-size: 13px; white-space: nowrap;
}
.toolbar-prompt-box .arrow {
	border-width: 0px 5px 5px; border-style: solid; border-color: transparent transparent rgba(51, 51, 51, 0.9); left: 50%; top: -5px; width: 0px; height: 0px; position: absolute;
}
.toolbar-circle {
	border-radius: 50%; width: 6px; height: 6px; position: absolute;
}
.toolbar_speck {
	border-radius: 50%; width: 6px; height: 6px; position: absolute;
}
.toolbar_speck {
	top: 12px; right: 14px; background-color: rgb(231, 64, 64);
}
.toolbar-circle {
	left: 36px; top: 2px; display: none; background-color: rgb(235, 63, 28);
}
html body .csdn-toolbar .tb_disnone {
	display: none;
}
html body .csdn-toolbar .icon {
	margin: 0px;
}
